@import 'config/mixins';

$icon-size: 4em;

.menu {
    @include card(21em, 12em);
    @include shadow;

    padding: 3em 5em 1em 3em;
    margin: 0 3em 0 0;

    border-radius: 12px 120px 12px 12px;

    &__logo {
        display: flex;
        justify-content: left;

        margin-bottom: 0.8em;

        img {
            height: 3.4em;
        }
    }

    &__icon {
        width: $icon-size;
        height: $icon-size;

        background: $very-dark-blue;
        border-radius: 12px;

        display: flex;
        align-items: center;
        justify-content: center;

        margin: 0 1.3em 0 0;

        img {
            height: 1.7em;
        }
    }

    &__icons {
        width: 84%;
        height: 7em;

        display: flex;
        align-items: center;
        justify-content: left;
    }
}